.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
}

.layout-content {
  flex: 1;
  padding: 2rem 0;
}

.admin-content {
  padding: 30px;
  max-width: 1400px;
  margin: 0 auto;
}

